.col-sort {
    cursor: pointer;
}

.col-sort md-icon {
    color: rgba(0,0,0,.26);
    opacity: 0;
    font-size: 20px;
    font-weight: 500;
    transition: -webkit-transform .25s,opacity .25s;
    transition: transform .25s,opacity .25s;
}

.col-sort:not(.col-active):hover md-icon {
    opacity: 1;
}

.col-sort.col-active {
    color: rgba(0,0,0,1);
}

.col-sort.col-active md-icon {
    opacity: 1;
    color: rgba(0,0,0,1);
}

.col-active md-icon.col-sort-asc {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.col-active md-icon.col-sort-desc {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
