<!-- LIST VIEW -->
<table class="simple list-view">
    <thead>
        <tr>
            <th></th>
            <th md-sort="Name" name="{{$root.globals.resources.Labels.Name}}" on-sort="vm.sort(sortingString)" class="col-active">
            </th>
            <th hide show-gt-sm md-sort="FileType" name="{{$root.globals.resources.Labels.Type}}" on-sort="vm.sort(sortingString)">
            </th>
            <th hide show-gt-md md-sort="DateCreated" name="{{$root.globals.resources.Labels.LastModified}}" on-sort="vm.sort(sortingString)">
            </th>
            <th hide-gt-md></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="file in vm.folder.MediaContent | filter:global.search"
            ng-click="vm.selectContent(file)"
            md-double-click="vm.openContent(file)"
            ng-class="{'selected' : vm.selected === file}">

            <td class="file-icon" ng-click="vm.selectContent(file);vm.validateEdit()">
                <md-icon md-font-icon="icon-{{vm.getIcon(file.InputType)}}">
                    <md-tooltip md-direction="bottom">{{vm.contentType[file.InputType]}}</md-tooltip>
                </md-icon>
            </td>
            <td class="name">{{file.Name}}</td>
            <td class="type" hide show-gt-sm>{{vm.contentType[file.InputType]}}</td>
            <td class="last-modified" hide show-gt-md>{{file.DateCreated | datetime: 'ago' }}</td>
            <td class="show-details" hide-gt-md>
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleContentDetails(file, $event)">
                    <md-icon md-font-icon="icon-information-outline"></md-icon>
                </md-button>
            </td>
        </tr>
    </tbody>
</table>
<div flex="100" style="text-align:center;" ng-if="vm.noResults"><h1 md-resource-text name="Labels.NoResults"></h1></div>
<!-- / LIST VIEW -->
