<div id="profile-types-preview" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div>
                <span class="md-display-1 font-weight-300" md-resource-text name="Titles.ProfileTypeEditor"></span>
            </div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" layout="column">
        <div layout="row">
            <form autocomplete="off" name="profileTypeForm" flex novalidate>
                <div class="form-wrapper md-whiteframe-1dp" flex">
                    <md-generictype-designer-form edit-mode="vm.isEditMode" ng-model="vm.profileType" register-edit-event="vm.registerEditEvent" databound-ready="false" form-name="profileTypeForm" />
                    <md-button class="md-raised md-accent" ng-click="vm.openEditor()" ng-hide="vm.isEditMode"><span md-resource-text name="Labels.Edit1"></span></md-button>
                    <md-button class="md-raised md-accent" ng-disabled="profileTypeForm.$invalid" ng-click="vm.save()" ng-show="vm.isEditMode"><span md-resource-text name="Labels.Save"></span></md-button>
                    <md-button class="md-accent" ng-click="vm.closeEditor()"><span md-resource-text name="Labels.Back"></span></md-button>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
