<!-- LIST VIEW -->
    <table class="simple list-view">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th md-sort="Name" name="{{$root.globals.resources.Labels.Name}}" on-sort="vm.sort(sortingString);" class="col-active">
                </th>
                <th hide show-gt-md md-sort="DateCreated" name="{{$root.globals.resources.Labels.LastModified}}" on-sort="vm.sort(sortingString);">
                </th>
                <th md-sort="Author" name="{{$root.globals.resources.Labels.Author}}" on-sort="vm.sort(sortingString);">
                </th>
                <th hide-gt-md></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in vm.reportDefinitions"
                ng-click="vm.select(file);"
                md-double-click="vm.openReportingDefinition(file)"
                ng-class="{'selected' : vm.selected === file}">
                <td class="file-icon">
                    <md-icon md-font-icon="icon-document"></md-icon>
                </td>
                <td ng-click="vm.loadReportDefinition(file.Id)" class="name">{{file.Name}}</td>
                <td class="last-modified" hide show-gt-md>{{file.DateModified | datetime }}</td>
                <td>{{ file.Author.Username }}</td>
                <td class="show-details" hide-gt-md>
                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleDetails(file, $event)">
                        <md-icon md-font-icon="icon-information-outline"></md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- / LIST VIEW -->

