<!-- SIDENAV HEADER -->
<div class="header md-accent-bg" layout="column" layout-align="space-between">
    <div class="toolbar" layout="row" layout-align="end center">
        <md-button ng-disabled="vm.disablebtn"
                   class="md-icon-button" ng-click="vm.deleteItem()">
            <md-icon md-font-icon="icon-delete"></md-icon>
            <md-tooltip><span md-resource-text name="Labels.Delete1"></span></md-tooltip>
        </md-button>
        <md-button ng-disabled="vm.disablebtn"
                   ui-sref="app.meta-data-field-form({id: vm.selected.Id})"
                   class="md-icon-button">
            <md-icon md-font-icon="icon-table-edit"></md-icon>
            <md-tooltip><span md-resource-text name="Labels.Edit"></span></md-tooltip>
        </md-button>     
        
    </div>
    <div>
        <div class="title text-truncate">{{vm.selected.Name || "Meta Data Fields"}}</div>
    </div>
</div>
<!-- / SIDENAV HEADER -->
<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>
    <div class="file-details" ng-if="vm.selected">
        <div class="title" md-resource-text name="Labels.Info"></div>
        <table>
            <tr class="Id">
                <th md-resource-text name="Labels.Id">Id</th>
                <td>{{vm.selected.Id}}</td>
            </tr>
            <tr class="type">
                <th md-resource-text name="Labels.Name"></th>
                <td>{{ vm.selected.Name}}</td>
            </tr>
            <tr class="type">
                <th md-resource-text name="Labels.Type"></th>
                <td>{{ vm.selected.AttributeTypeDefinition.Name}}</td>
            </tr>
        </table>
    </div>
</md-content>
<!-- / SIDENAV CONTENT -->