<!-- MAIL LIST ITEMS -->
<div class="mail-list-item {{mail.status}}" ng-repeat="message in vm.messages"
     md-ink-ripple
     ng-click="vm.selectMessage(message, $index)"
     ng-class="{'selected': vm.selectedMessage === message, 'checked': vm.isChecked(message)}"
     ms-scroll>
    <div layout="row" layout-align="start center"
         ng-class="{'unread-message' : message.IsRead == false}">
        <md-checkbox class="no-label"
                     ng-checked="vm.isChecked(message)"
                     ng-click="vm.toggleCheck(message, $event)"
                     aria-label="{{vm.isChecked(message)? 'Uncheck':'check'}}">
        </md-checkbox>
        <div class="info" flex layout="column">
            <div class="name" layout="row" layout-align="start center">
                <div class="avatar" ms-random-class="vm.colors" layout="row" layout-align="center center">
                    <span ng-if="message.FromUser.Id" flex>
                        {{message.FromUser.Username[0]}}
                    </span>
                    <span ng-if="!message.FromUser.Id" flex class="logo-image icon-omega-logo s20"></span>
                </div>
                <span class="text-truncate">
                    <span ng-if="message.FromUser.Id">
                        {{message.FromUser.Username}}
                    </span>
                    <span ng-if="!message.FromUser.Id">Omega</span>
                </span>    
            </div>
            <div ng-show="message.Type === 1">
                To: {{message.ToUser.Username}}
            </div>
            <div class="subject text-truncate">
                Subject: {{message.Subject}}
            </div>
            <div class="message" ng-if="vm.selectedFolder.Id !== 4">
                <md-truncate>{{message.MessageContent | htmlToPlaintext}}</md-truncate>
            </div>
            <div class="message" ng-if="vm.selectedFolder.Id === 4 && vm.didGet">
                <md-truncate>{{vm.convertApproval(message)}}</md-truncate>
            </div>
        </div>
        <div layout="column" layout-align="space-between end">
            <div>{{message.CurrentFolder.Name}} - <md-icon md-font-icon="icon-{{message.CurrentFolder.Icon}}" class="s16"></md-icon></div>
            <div class="time">{{message.DateAdded | datetime: 'ago'}}</div>          
        </div>
    </div>
</div>
<!-- / MAIL LIST ITEMS -->
