body.gjs-dashed md-cms-grid-tile {
  /*----------------------------------------------------------------*/
  /*  md-generictype-designer-form-icons
/*----------------------------------------------------------------*/ }
  body.gjs-dashed md-cms-grid-tile .container {
    background-repeat: no-repeat;
    background-size: 265px 95px;
    height: 95px;
    position: relative;
    z-index: 2;
    width: 100%; }
    body.gjs-dashed md-cms-grid-tile .container h3 {
      background: white;
      display: block;
      line-height: 30px;
      font-size: 20px;
      margin: 16px; }
  body.gjs-dashed md-cms-grid-tile .container {
    background-color: #fff; }
    body.gjs-dashed md-cms-grid-tile .container.textbox {
      background-image: url("FormBuilderImages/Textbox.png"); }
    body.gjs-dashed md-cms-grid-tile .container.textarea {
      background-image: url("FormBuilderImages/Textarea.png"); }
    body.gjs-dashed md-cms-grid-tile .container.fileupload {
      background-image: url("FormBuilderImages/file-upload.png"); }
    body.gjs-dashed md-cms-grid-tile .container.checkbox {
      background-image: url("FormBuilderImages/Checkbox.png"); }
    body.gjs-dashed md-cms-grid-tile .container.checkboxgroup {
      background-image: url("FormBuilderImages/Checkbox-group.png"); }
    body.gjs-dashed md-cms-grid-tile .container.selectlist {
      background-image: url("FormBuilderImages/Select-list.png"); }
    body.gjs-dashed md-cms-grid-tile .container.calculated {
      background-image: url("FormBuilderImages/Calculated.png"); }
    body.gjs-dashed md-cms-grid-tile .container.number {
      background-image: url("FormBuilderImages/Number.png"); }
    body.gjs-dashed md-cms-grid-tile .container.contentpicker {
      background-image: url("FormBuilderImages/Content-picker.png"); }
    body.gjs-dashed md-cms-grid-tile .container.contentmediapicker {
      background-image: url("FormBuilderImages/Content-media-picker.png"); }
    body.gjs-dashed md-cms-grid-tile .container.taxonomypicker {
      background-image: url("FormBuilderImages/Taxonomy-picker.png"); }
    body.gjs-dashed md-cms-grid-tile .container.userpicker {
      background-image: url("FormBuilderImages/User-picker.png"); }
    body.gjs-dashed md-cms-grid-tile .container.youtube {
      background-image: url("FormBuilderImages/Youtube.png"); }
    body.gjs-dashed md-cms-grid-tile .container.calendarfield {
      background-image: url("FormBuilderImages/Calendar-field.png"); }
    body.gjs-dashed md-cms-grid-tile .container.googlemap {
      background-image: url("FormBuilderImages/Google-map.png"); }
