<div id="contnet-list" class="page-layout simple right-sidenav" layout="row" ng-cloak>
    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- HEADER -->
        <div class="header md-accent-bg">
            <div class="header-content" layout="column" layout-align="space-between">
                <!-- TOOLBAR -->
                <md-content-header on-search="vm.search">
                    <span md-resource-text name="Labels.FolderList" ng-if="vm.currentTab === 0" class="md-display-1 font-weight-300"></span>
                    <span md-resource-text name="Labels.ContentList" ng-if="vm.currentTab === 1" class="md-display-1 font-weight-300"></span>
                </md-content-header>
                <!-- / TOOLBAR -->
                <!-- BREADCRUMB -->
                <div ms-scroll class="breadcrumb text-truncate layout-align-start-center layout-row" layout="row" layout-align="start center">
                    <span data-ng-repeat="path in vm.taxonomy.ParentArray"
                          class="ng-binding ng-scope"
                          ui-sref="app.taxonomy_list({taxonomyPath:path.TaxonomyPath, currentView:vm.currentView})">
                        {{path.Name}}
                        <md-icon ng-if="(vm.folder.ParentArray.length-1) != $index" md-font-icon="icon-chevron-right" class="icon separator ng-isolate-scope md-font icon-chevron-right material-icons md-default-theme" aria-hidden="true"></md-icon>
                    </span>
                </div>
                <!-- / BREADCRUMB -->
            </div>
            <!-- ADD FILE BUTTON -->
            <md-fab-speed-dial md-direction="right" class="add-file-button md-scale">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn" ng-disabled="!vm.taxonomy.Id">
                        <md-icon md-font-icon="icon-plus"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button class="md-fab md-raised md-mini" ui-sref="app.taxonomy_forms({ path: vm.taxonomy.TaxonomyPath, currentView:vm.currentView.Name ,id:vm.taxonomy.Id, action:'add'})">
                        <md-tooltip md-direction="bottom"><md-resource-text name="Labels.AddTaxonomy"></md-resource-text></md-tooltip>
                        <md-icon md-font-icon="icon-bookmark"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
            <!-- / ADD FILE BUTTON -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <md-content class="content" flex ms-scroll>
            <!-- PAGINATION -->
            <md-pager page="vm.currentPage" total="vm.totalItems" on-pager-change="vm.updatePager(currentPage, pageSize, pagesBorder)"></md-pager>
            <!-- / PAGINATION -->
            <md-tabs md-dynamic-height md-selected="vm.currentTab">
                <md-tab md-on-select="vm.changeTab()" ng-disabled="!vm.hasChildren">
                    <md-tab-label>
                        <md-icon md-font-icon="icon-folder"></md-icon>
                        <md-resource-text name="Labels.Taxonomies"></md-resource-text>
                    </md-tab-label>
                    <md-tab-body>
                        <div ng-if="vm.currentView.Name === 'grid'">
                            <div ng-include="'scripts/app/main/taxonomy/list/views/grid/grid-view.html'"></div>
                        </div>
                        <div ng-if="vm.currentView.Name === 'list'">
                            <div ng-include="'scripts/app/main/taxonomy/list/views/list/list-view.html'"></div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab label="contents" md-on-select="vm.changeTab()" ng-disabled="!vm.hasContents">
                    <md-tab-label>
                        <md-icon md-font-icon="icon-document"></md-icon>
                        <md-resource-text name="Labels.Contents"></md-resource-text>
                    </md-tab-label>
                    <md-tab-body>
                        <div ng-if="vm.currentView.Name === 'grid'">
                            <div ng-include="'scripts/app/main/taxonomy/list/views/grid/grid-view.html'"></div>
                        </div>
                        <div ng-if="vm.currentView.Name === 'list'">
                            <div ng-include="'scripts/app/main/taxonomy/list/views/list/list-view.html'"></div>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
    <!-- SIDENAV -->
    <md-sidenav class="sidenav details-sidenav md-sidenav-right md-closed" md-is-locked-open="$mdMedia('gt-md')"
                md-component-id="details-sidenav"
                ng-include="'scripts/app/main/taxonomy/list/sidenavs/details/details-sidenav.html'" ms-scroll
                ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->
</div>
