<div class="flex flex-auto items-center justify-center p-4 sm:p-12">
  <mat-card class="flex w-full max-w-sm flex-col p-8 sm:p-12">
    <!-- Logo -->
    <img
      class="w-12"
      src="/images/logo/logo.svg"
      alt="Fuse logo"
    />

    <!-- Title -->
    <div class="leading-tight mt-8 text-4xl font-extrabold tracking-tight">
      Forgot password
    </div>
    <div class="mt-0.5 font-medium">Fill the form to reset your password</div>

    <!-- Forgot password form -->
    <form
      class="mt-8"
      (submit)="forgotPassword($event)"
    >
      <div class="flex flex-col gap-y-4">
        <!-- Email field -->
        <mat-form-field class="w-full">
          <mat-label>Email address</mat-label>
          <input
            id="email"
            matInput
            [formField]="forgotPasswordForm.email"
          />
          <mat-error>
            @if (
              forgotPasswordForm.email().touched() &&
              forgotPasswordForm.email().invalid()
            ) {
              @for (error of forgotPasswordForm.email().errors(); track error) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        matButton="filled"
        class="mt-6 w-full"
        [disabled]="forgotPasswordForm().invalid()"
      >
        Reset password
      </button>
    </form>
  </mat-card>
</div>
