md-cms-video {
    width: 100%;

    .md-cms-video {
        .md-cms-video-iframe {
            width: 560px;
            height: 300px;
            background-color: darkgray;
            border: 0;
            margin-bottom: 30px;
        }
    }
}
