/*----------------------------------------------------------------*/
/*  ms-repeat
/*----------------------------------------------------------------*/

.ms-repeat{
    .repeat-icon{
        float: right;
        position: absolute;
        top: 0;
        right: 0px;
    }
}

