<div id="file-manager" class="page-layout simple right-sidenav" layout="row">
    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- HEADER -->
        <div class="header md-accent-bg">
            <div class="header-content" layout="column" layout-align="space-between">
                <!-- TOOLBAR -->
                <md-content-header on-search="vm.search(searchTerm)" is-large="true">
                    <span md-resource-text name="Titles.MetaDataFieldsList" class="md-display-1 font-weight-300" />
                </md-content-header>
                <!-- / TOOLBAR -->
            </div>
            <!-- ADD FILE BUTTON -->
            <md-fab-speed-dial md-open="vm.menuOpened" md-direction="right" class="add-file-button md-scale">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon md-font-icon="icon-plus"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button class="md-fab md-raised md-mini"
                               ui-sref="app.meta-data-field-form">
                        <md-tooltip md-direction="bottom"><md-resource-text name="Titles.AddMetaDataField"></md-resource-text></md-tooltip>
                        <md-icon md-font-icon="icon-folder"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
            <!-- / ADD FILE BUTTON -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <md-content class="content" flex ms-scroll>
            <!-- PAGINATION -->
            <md-pager page="vm.currentPage" total="vm.totalItems" no-tabs="true" on-pager-change="vm.updatePager(currentPage, pageSize, pagesBorder)"></md-pager>
            <!-- / PAGINATION -->
            <!-- LIST VIEW -->
            <div class="table-container">
                <table class="simple list-view">
                    <thead>
                        <tr>
                            <th>
                                <div ng-show="vm.searchMode" md-resource-text name="Labels.XResults" replacevalue0="{{vm.numberOfSearchResults}}"></div>
                            </th>
                            <th md-sort="Name" name="{{$root.globals.resources.Labels.Name}}" on-sort="vm.sort(sortingString);" class="col-active">
                            </th>
                            <th hide show-gt-sm md-sort="Type" name="{{$root.globals.resources.Labels.Type}}" on-sort="vm.sort(sortingString);">
                            </th>
                            <th hide-gt-md></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="metaDataField in vm.allMetaDataFields | filter:global.search"
                            ng-class="{'selected' : vm.selected === metaDataField}"
                            ng-click="vm.select(metaDataField, $index)"
                            md-double-click="vm.openMetaDataField(metaDataField)">
                            <td class="file-icon" ui-sref="app.meta-data-field-form({id: metaDataField.Id})">
                                <md-icon md-font-icon="icon-format-indent-increase"></md-icon>
                            </td>
                            <td class="name">{{metaDataField.Name}}</td>
                            <td class="type" hide show-gt-sm>{{metaDataField.AttributeTypeDefinition.Name}}</td>
                            <td class="show-details" hide-gt-md>
                                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleContentDetails(folder, $event)">
                                    <md-icon md-font-icon="icon-information-outline"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- / LIST VIEW -->
            <div flex="100" style="text-align:center;" ng-if="vm.noData"><h1 md-resource-text name="Labels.NoResults"></h1></div>
        </md-content>

        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
    <!-- SIDENAV -->
    <md-sidenav class="sidenav details-sidenav md-sidenav-right" md-is-open="vm.selected !== undefined" md-is-locked-open="$mdMedia('gt-md') && vm.selected !== undefined"
                md-component-id="details-sidenav"
                ng-include="'scripts/app/main/settings/configuration/meta-data-field/list/sidenavs/details/details-sidenav.html'" ms-scroll
                ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->
</div>
