.md-cms-grid-toolbar {

    .item {
        margin-bottom: 15px;
    }

    > md-sidenav {
        position: fixed;
        top: 0px;
        transition: top 700ms;
    }

    .controlToolBarButton {
        position: fixed;
        top: 50%;
        height: 1.5em;
        right: 0;
        -webkit-transform-origin: 100% 50%;
        -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: rotate(90deg) translate(50%, 50%);
        -moz-transform: rotate(90deg) translate(50%, 50%);
        -ms-transform: rotate(90deg) translate(50%, 50%);
        -o-transform: rotate(90deg) translate(50%, 50%);
        transform: rotate(-90deg) translate(50%, -50%);
        transition: top 700ms;
        z-index:50;
    }

    #blocks {
        .gjs-one-bg,
        .gjs-two-color,
        .gjs-blocks-c,
        .gjs-block {
            color: inherit;
            background-color: inherit;
            padding: inherit;
            box-sizing: inherit;
            font-size: inherit;
            font-weight: inherit;
            text-align: inherit;
            border: none;
            border-radius: inherit;
            margin: 0;
            box-shadow: none;
        }

        .gjs-block {
            width: 100%;
        }

        .gjs-block-category .gjs-title {
            font-weight: inherit;
            background-color: rgb(3,155,229);
            letter-spacing: inherit;
            padding: 9px 10px 9px 20px;
            border-bottom: 1px solid #fff;
            text-align: left;
            position: relative;
            cursor: pointer;
            color: rgba(255,255,255,0.87);
            text-transform: uppercase;
            transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

            &:hover {
                background-color: rgb(0,145,234);
            }

            > i {
                color: rgba(0,0,0,0.54);
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;

                &:last-child {
                    float: right;
                    margin-top: -5px;
                    color: rgba(255,255,255,0.87);
                }
            }
        }
    }
}
