
<div id="login" layout="row" layout-align="start">
    <div id="login-intro" flex hide show-gt-sm>
        <div class="logo md-accent-bg">
            <span class="icon-omega-logo"></span>
        </div>
        
    </div>
    <div id="login-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <div id="login-form">
            <div class="logo md-accent-bg" hide-gt-sm>
                <span class="icon-omega-logo"></span>
            </div>
            <div id="reset-password" layout="column">
                <div id="reset-password-form-wrapper"  layout-align="center center">
                    <div id="reset-password-form" >

                        <div class="title" md-resource-text name="Titles.ResetPassword"></div>
                        <form autocomplete="off" name="resetPasswordForm" novalidate>

                            <md-input-container class="md-block" md-no-float>
                                <input type="password" name="password" ng-model="vm.user.Password" placeholder="{{$root.globals.resources.Labels.Password}}"
                                       required>
                                <div ng-messages="registerForm.password.$error" role="alert">
                                    <div ng-message="required">
                                        <span md-resource-text name="Labels.Required"></span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" md-no-float>
                                <input type="password" name="passwordConfirm" ng-model="vm.passwordConfirm"
                                       placeholder="{{$root.globals.resources.Labels.PasswordConfirm}}"
                                       required>
                                <div ng-messages="resetPasswordForm.passwordConfirm.$error" role="alert">
                                    <div ng-message="required">
                                        <span md-resource-text name="Labels.Required"></span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="UPDATE MY PASSWORD"
                                       ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine"
                                       ng-click="vm.changePassword()">
                                <md-resource-text name="Labels.PasswordReset"></md-resource-text>
                            </md-button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
