<md-dialog aria-label="Edit dialog" style="min-width:900px">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 md-resource-text name="Titles.ReportPreview"></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon style="color:white; font-size:24px;" class="icon icon-window-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
             <ms-form-wizard flex>
                    <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                        <md-tab>
                            <md-tab-label>
                                <span class="ms-form-wizard-step-label">
                                    <span class="ms-form-wizard-step-number md-accent-bg"
                                          ng-if="wizardStep1.$invalid">1</span>
                                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                        <i class="icon-check s16"></i>
                                    </span>
                                    <span class="ms-form-wizard-step-text" md-resource-text name="Labels.Entity"></span>
                                </span>
                            </md-tab-label>
                            <md-tab-body>
                                <form autocomplete="off" name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                                    <md-input-container class ="md-block">
                                        <label md-resource-text name="Labels.ChooseEntity"></label>
                                        <md-select name="entity" ng-model="filter.Entity" ng-model-options="{trackBy: '$value.UniqueId'}" required>
                                            <md-option ng-repeat="entity in reportDefinition.Definition.Entities" ng-value="entity">
                                                <md-icon md-font-icon="icon-{{entity.Icon}}"></md-icon> {{entity.Name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="wizardStep1.entity.$error"
                                             role="alert">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </form>
                            </md-tab-body>
                        </md-tab>
                        <md-tab ng-disabled="wizardStep1.$invalid">
                            <md-tab-label>
                                <span class="ms-form-wizard-step-label">
                                    <span class="ms-form-wizard-step-number md-accent-bg"
                                          ng-if="wizardStep2.$invalid">2</span>
                                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                                        <i class="icon-check s16"></i>
                                    </span>
                                    <span class="ms-form-wizard-step-text" md-resource-text name="Labels.Property"></span>
                                </span>
                            </md-tab-label>
                            <md-tab-body>
                                <form autocomplete="off" name="wizardStep2" ms-form-wizard-form novalidate>
                                    <md-input-container class="md-block">
                                        <label md-resource-text name="Labels.Property"></label>
                                        <md-select name="property" ng-model="filter.Property" required>
                                            <md-option ng-repeat="property in filter.Entity.Fields | filter: fieldEnabled track by property.Name" ng-value="property">
                                                <md-icon md-svg-icon="{{property.Icon}}"></md-icon> {{property.Name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="wizardStep2.property.$error"
                                             role="alert">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </form>
                            </md-tab-body>
                        </md-tab>
                        <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
                            <md-tab-label>
                                <span class="ms-form-wizard-step-label">
                                    <span class="ms-form-wizard-step-number md-accent-bg"
                                          ng-if="wizardStep3.$invalid">3</span>
                                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                        <i class="icon-check s16"></i>
                                    </span>
                                    <span class="ms-form-wizard-step-text" md-resource-text name="Labels.Comparer"></span>
                                </span>
                            </md-tab-label>
                            <md-tab-body>
                                <form autocomplete="off" name="wizardStep3" ms-form-wizard-form novalidate>
                                    <md-input-container class="md-block">
                                        <label>Comparer</label>
                                        <md-select name="comparer" ng-model="filter.Type" required>
                                            <md-option ng-repeat="comparer in reportDesignerService.getAllComparerTypes()" ng-value="comparer.value" required>
                                                <span ng-class="reportDesignerService.getComparerType(comparer.type).icon"></span> {{comparer.title}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="wizardStep3.comparer.$error"
                                             role="alert">
                                            <div ng-message="required"><md-resource-text name="Labels.Required"></md-resource-text></div>
                                        </div>
                                    </md-input-container>
                                </form>
                            </md-tab-body>
                        </md-tab>
                        <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid">
                            <md-tab-label>
                                <span class="ms-form-wizard-step-label">
                                    <span class="ms-form-wizard-step-number md-accent-bg"
                                          ng-if="wizardStep4.$invalid">4</span>
                                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep4.$valid">
                                        <i class="icon-check s16"></i>
                                    </span>
                                    <span class="ms-form-wizard-step-text" md-resource-text name="Labels.Value"></span>
                                </span>
                            </md-tab-label>
                            <md-tab-body>
                                <form autocomplete="off" name="wizardStep4" layout="column" ms-form-wizard-form novalidate>
                                    <md-input-container class="md-block">
                                        <md-checkbox ng-model="filter.IsDynamic" aria-label="Is dynamic?">
                                            <md-resource-text name="Labels.IsDynamic"></md-resource-text>
                                        </md-checkbox>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <input ng-disabled="filter.IsDynamic" type="text" name="value" ng-model="filter.Value"
                                               placeholder="Value to compare"
                                               ng-required="!filter.IsDynamic">
                                        <div ng-messages=" wizardstep4.value.$error"
                                               role="alert">
                                            <div ng-message="required">
                                                <span md-resource-text name="Labels.Required"></span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </form>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                    <div class="navigation" flex layout="row" layout-align="center center">
                        <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                                   ng-disabled="msWizard.isFirstStep()">
                            <md-resource-text name="Labels.Previous"></md-resource-text>
                        </md-button>
                        <div class="steps">
                            <span ng-repeat="form in msWizard.forms"
                                  ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
                        </div>
                        <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                                   ng-hide="msWizard.isLastStep()"
                                   ng-disabled="msWizard.currentStepInvalid()">
                            <md-resource-text name="Labels.Next"></md-resource-text>
                        </md-button>
                        <md-button class="md-raised md-warn" ng-click="save(); msWizard.resetForm();"
                                   ng-show="msWizard.isLastStep()"
                                   ng-disabled="msWizard.formsIncomplete()">
                            <md-resource-text name="Labels.Save"></md-resource-text>
                        </md-button>
                    </div>
                </ms-form-wizard>
        </div>
    </md-dialog-content>
</md-dialog>
