<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div>
                <span class="md-display-1 font-weight-300" md-resource-text name="Titles.MetaDataFieldEditor"></span>
            </div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" layout="column">
        <!-- BASIC FORM -->
        <div class="form-wrapper md-whiteframe-1dp" flex="60" ng-cloak>
            <form autocomplete="off" name="metaDataFieldForm">
                <div class="form-title">{{vm.formTitle | uppercase}}</div>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container class="md-block">
                        <label md-resource-text name="Labels.Name"></label>
                        <input type="text" name="fieldname" ng-model="vm.metaDataField.Name" required />
                        <div ng-messages="metaDataFieldForm.fieldname.$error">
                            <div ng-message="required"><md-resource-text name="Labels.Required"></md-resource-text></div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container class="md-block">
                        <md-select placeholder="{{$root.globals.resources.Labels.Type}}" ng-model="vm.metaDataField.AttributeTypeDefinitionId" required name="attributeType">
                            <md-option ng-repeat="attributeType in vm.attributeTypes" ng-value="attributeType.Id">
                                {{attributeType.Name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="metaDataFieldForm.attributeType.$error">
                            <div ng-message="required"><md-resource-text name="Labels.Required"></md-resource-text></div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" ng-show="vm.metaDataField.AttributeTypeDefinitionId == 6 || vm.metaDataField.AttributeTypeDefinitionId == 7">
                    <md-chips ng-model="vm.ListValueList" name="ListValueList" placeholder="Enter a list value..."
                              input-aria-label="List values" md-on-add="vm.onListModify($chip)" md-on-remove="vm.onListModify($chip, $index)">
                        <md-chip-template>
                            <strong>{{$chip}}</strong>
                        </md-chip-template>
                    </md-chips>
                </div>
                <div layout="column" ng-show="vm.metaDataField.AttributeTypeDefinitionId == 6 || vm.metaDataField.AttributeTypeDefinitionId == 7">
                    <md-input-container class="md-block">
                        <label>Delimiter</label>
                        <input type="text" name="delimiter" required ng-model="vm.metaDataField.Delimiter" ng-change="vm.onDelimiterChange()">
                    </md-input-container>
                </div>
                <div layout="column" ng-show="vm.metaDataField.AttributeTypeDefinitionId == 6 || vm.metaDataField.AttributeTypeDefinitionId == 7">
                    <md-input-container class="md-block">
                        <md-input-container class="md-block">
                            <md-select placeholder="{{$root.globals.resources.Labels.DefaultValue}}" ng-model="vm.metaDataField.DefaultValue" required name="exampleDefaultValue">
                                <md-option ng-repeat="item in vm.ListValueList" ng-value="item">
                                    {{item}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container class="md-block">
                        <md-select placeholder="Example" name="example" ng-model="vm.dummyExampleValue" multiple="vm.metaDataField.AttributeTypeDefinitionId == 7">
                            <md-option ng-repeat="item in vm.ListValueList">
                                {{item}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                           ng-click="vm.sendForm()"
                           ng-disabled="metaDataFieldForm.$invalid">
                    <md-resource-text name="Labels.Submit"></md-resource-text>
                </md-button>
                <button class="md-button md-ink-ripple md-default-theme"
                        type="button"
                        aria-label="Back to previous page"
                        ui-sref="app.meta-data-field-list({folderPath:vm.folder.FolderPath})">
                    <span class="ng-scope"><md-resource-text name="Labels.Back"></md-resource-text></span><div class="md-ripple-container"></div>
                </button>
            </form>
        </div>
        <!-- / BASIC FORM -->
    </div>
</div>
<!-- / CONTENT -->
