<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MD.CMS.BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MD.CMS.BusinessLogic.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>DataSource=127.0.0.1;Database=bikes;User=;Password=;convert zero datetime=True</value>
      </setting>
      <setting name="DefaultLcid" serializeAs="String">
        <value>2057</value>
      </setting>
      <setting name="AvailableLcid" serializeAs="Xml">
        <value>
          <Lcids>
            <Lcid>
              <Name>UK English</Name>
              <Id>2057</Id>
            </Lcid>
          </Lcids>
        </value>
      </setting>
      <setting name="AngularFuseModuleRedirectTo" serializeAs="String">
        <value>/</value>
      </setting>
    </MD.CMS.BusinessLogic.Properties.Settings>
  </applicationSettings>
  <system.web>
    <httpModules>
      <add type="MD.CMS.Template.Modules.AngularFuseModule, MD.CMS.Template" name="AngularFuseModule" preCondition="managedHandler" />
    </httpModules>
  </system.web>
</configuration>
