<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MD.CMS.Template.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MD.CMS.BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MD.CMS.Template.Properties.Settings>
      <setting name="AngularFuseModuleRedirectTo" serializeAs="String">
        <value>~/</value>
      </setting>
      <setting name="AngularFuseModuleExclusionList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>app/main/content/contentForm/views/innerForm/</string>
          </ArrayOfString>
        </value>
      </setting>
    </MD.CMS.Template.Properties.Settings>
    <MD.CMS.BusinessLogic.Properties.Settings>
      <setting name="AngularFuseModuleRedirectTo" serializeAs="String">
        <value>~/</value>
      </setting>
    </MD.CMS.BusinessLogic.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <modules>
      <add type="MD.CMS.Template.Modules.AngularFuseModule, MD.CMS.Template" name="AngularFuseModule" preCondition="managedHandler" />
    </modules>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
</configuration>