<!--<!-- SIDENAV HEADER -->
<div class="header md-accent-bg" layout="column" layout-align="space-between">
    <div class="toolbar" layout="row" layout-align="end center">
        <md-button ng-hide="vm.selected.Id == 1" class="md-icon-button" ng-click="vm.deleteItem()" aria-label="Delete">
            <md-icon md-font-icon="icon-delete"></md-icon>
            <md-tooltip><span md-resource-text name="Labels.Delete1"></span></md-tooltip>
        </md-button>

        <md-button ng-hide="vm.selected.Id == 1"
                   ui-sref="app.menu_forms({ path: vm.menu.MenuPath, currentView:vm.currentView, id:vm.selectedMenu.ParentId, action:'edit',menuId:vm.selectedMenu.Id})"
                   class="md-icon-button" aria-label="Edit">
            <md-icon md-font-icon="icon-table-edit"></md-icon>
            <md-tooltip><span md-resource-text name="Labels.Edit1"></span></md-tooltip>
        </md-button>
    </div>
    <div>      
        <div class="title text-truncate">{{(vm.getSelectedType() == 1 ? vm.selected.Name : vm.selected.Title)}}</div>
        <div class="subtitle secondary-text" ng-show="vm.getSelectedType() == 2"><span md-resource-text name="Labels.Edited1"></span>: {{vm.selected.DateCreated | datetime}}</div>
    </div>
</div>
<!-- / SIDENAV HEADER -->
<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>
    <div class="file-details">
        <div class="preview file-icon" layout="row" layout-align="center center">
            <i class="icon-document s48" ng-show="vm.getSelectedType() == 2"></i>
            <i class="icon-menu s48" ng-show="vm.getSelectedType() == 1"></i>
        </div>
        <div class="title" md-resource-text name="Labels.Info">Info</div>
        <table>
            <tr class="id">
                <th md-resource-text name="Labels.Id">Id</th>
                <td>{{vm.selected.Id}}</td>
            </tr>
            <tr class="type">
                <th md-resource-text name="Labels.Type">Type</th>
                <td>{{(vm.getSelectedType() == 1 ? 'Menu' : (vm.selected.ContentType != null ? vm.selected.ContentType.Name : 'HTML Content'))}}</td>

        
             </tr>
            <tr class="location">
                <th md-resource-text name="Labels.Location">Location</th>
                <td ng-show="vm.showLocation() == 1">
                    {{(vm.getSelectedType() == 1 ? (vm.menu.Parent == null ? vm.menu.MenuPath : vm.menu.Parent.MenuPath) : vm.menu.MenuPath)}}
                </td>
                <td ng-show="vm.showLocation() == 2">
                    <a href="" ng-click="vm.redirectoContentLocation()">
                       {{ vm.selected.Path == undefined?vm.selected.MenuContentPath:vm.selected.Path}}
                       
                    </a>
                </td>
            </tr>
            <tr class="owner" ng-show="vm.getSelectedType() == 2">
                <th md-resource-text name="Labels.Owner">Owner</th>
                <td>{{vm.selected.Author.Username}}</td>
            </tr>
            <tr class="modified" ng-show="vm.getSelectedType() == 2">
                <th md-resource-text name="Labels.Modified">Modified</th>
                <td>{{vm.selected.DateCreated | datetime: 'ago'}}</td>
            </tr>
        </table>
    </div>
</md-content>
<!-- / SIDENAV CONTENT -->